# Location constraints

Net "clk" LOC = Y9;
Net "rst" LOC = P16;
Net "out_led" LOC = A6;

# IOSTANDARD Contraints

Net "clk" IOSTANDARD = LVCMOS33;
Net "rst" IOSTANDARD = LVCMOS18;
Net "out_led" IOSTANDARD = LVCMOS33;
