#can{
    display:block;
}

#picker {
    margin:5px;
    padding:0;
    width:70px;
    height:20px;
    border:3px solid black;
    border-right:20px solid black;
    text-align:center;
    font-family:"Courier New", Courier, monospace;

}

#status{
    position:fixed;
    z-index:100;
    right:5%;
    bottom:2%;
}

#can{
    float:left;
}

#opts{
    border: 1px solid black;
    float:right;
    word-break: break-all;
    text-align:right;
}

#langChoose{
    position:absolute;
    bottom:2%;
}

td {
    text-align:center;
}
